div {
  margin-bottom: 15px;
  text-align: center;
}
div .identification,
.adresse,
.benevole,
.bancaire,
.formation,
.profession,
.logement,
.sante {
  -webkit-border-radius: 50px 50px 50px 50px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  position: relative;
  -webkit-box-shadow: 0px 20px 20px 0;
}
h4 {
  margin-bottom: 30px;
}

.submit {
  margin-top: 40px;
}
textarea {
  width: 100%;
}
