.navbar {
	background-color: #16145a;
	height: 100%;
}

.navbar h2 {
	color: #ffffff;
	font-family: 'Lobster Two', cursive;
	letter-spacing: 2px;
}

.navbar a {
	font-size: 0.9rem;
	font-weight: 500;
}
