.page-title {
	background-color: #16145a;
	color: white;
	font-size: 2.8em;
	margin-bottom: 25px;
	padding: 10px;
}

.feedback-section h2 {
	font-size: 2.3em;
}

.feedback-section {
	position: relative;
	box-shadow: 0px 4px 8px rgb(173, 172, 182);
	display: flex;
	align-items: center;
	margin: 0;
	margin-bottom: 30px;
	padding: 40px;
}

.feedback-section ul {
	list-style-type: circle;
}

.feedback-section h2 {
	text-align: left;
	margin-bottom: 20px;
}

.feedback-section p {
	font-size: 1.1em;
}

.feedback-section .quotation {
	font-size: 4.2em;
	line-height: initial;
	font-family: 'cursive';
	font-style: italic;
}
/* 
.feedback-section blockquote {
	margin-left: 20px;
} */

.stamp {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 13px;
	width: 17px;
	background-color: #313983;
	border: 5px white inset;
}
